* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
	
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	text-align:center;
	
}

.container h1 {
	border-radius: 5px;
	width: 300px;
    padding: 10px;
    background-color: #f1f1f1;
	border-style: solid;
	font-size:60;
}